*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: url('') bottom center;
    background-size: cover;
}

.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.rock-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.paper-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.scissors-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}





